marimo==0.23.8
captum==0.9.0
kagglehub==1.0.1
kagglesdk==0.1.23
open_clip_torch==3.3.0
torch==2.5.0
torchvision==0.20.0
setuptools
wheel
git+https://github.com/IDEA-Research/GroundingDINO.git
git+https://github.com/facebookresearch/segment-anything.git
